@import "constants.css";

.col-constraints {
	height: var(--spacer-size);
	display: flex;
	flex-direction: row;
}

.col-constraint-group {
	width: var(--cell-size);
	display: flex;
	flex-direction: column;
}

.col-constraint {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin: 2px;
	border-radius: 10px;
	justify-content: center;
	text-align: center;
}
