@import "colors.css";
@import "constants.css";

.grid {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
	height: var(--cell-size);
}

.cell {
	display: flex;
	width: var(--cell-size);
	box-shadow: 0 0 0 0.3px var(--lightGrey);
}

.row:nth-child(5n + 1) .cell {
	box-shadow: 0 0 0 0.3px var(--lightGrey), 0 -1px 0 0 black;
}

.row:nth-child(5n) .cell {
	box-shadow: 0 0 0 0.3px var(--lightGrey), 0 1px 0 0 black;
}

.row .cell:nth-child(5n + 1) {
	box-shadow: 0 0 0 0.3px var(--lightGrey), -1px 0 0 0 black;
}

.row .cell:nth-child(5n) {
	box-shadow: 0 0 0 0.3px var(--lightGrey), 1px 0 0 0 black;
}

.row:nth-child(5n + 1) .cell:nth-child(5n + 1) {
	box-shadow: 0 0 0 0.3px var(--lightGrey), -1px -1px 0 0 black;
}

.row:nth-child(5n + 1) .cell:nth-child(5n) {
	box-shadow: 0 0 0 0.3px var(--lightGrey), 1px -1px 0 0 black;
}

.row:nth-child(5n) .cell:nth-child(5n + 1) {
	box-shadow: 0 0 0 0.3px var(--lightGrey), -1px 1px 0 0 black;
}

.row:nth-child(5n) .cell:nth-child(5n) {
	box-shadow: 0 0 0 0.3px var(--lightGrey), 1px 1px 0 0 black;
}