:root {
	--white: #f6f6f6;
	--brown: saddlebrown;
	--orange: orange;
	--blue: dodgerblue;
	--black: #202020;
	--grey: lightslategray;
	--green: forestgreen;
	--mustard: #899500;
	--lightBlue: lightBlue;
	--darkblue: darkblue;
	--yellow: yellow;
	--burgundy: #990a59;
	--pink: pink;
}

.burlywood {
	background-color: burlywood;
}

.gold {
	background-color: gold;
}

.orange {
	background-color: var(--orange);
}

.blue {
	background-color: var(--blue);
	color: var(--white);
}

.grey {
	background-color: var(--grey);
	color: var(--white);
}

.brown {
	background-color: var(--brown);
	color: var(--white);
}

.green {
	background-color: var(--green);
	color: var(--white);
}

.mustard {
	background-color: var(--mustard);
	color: var(--black);
}

.cherry {
	background-color: #c70e73;
	color: var(--white);
}

.lightBlue {
	background-color: var(--lightBlue);
}

.darkBlue {
	background-color: var(--darkblue);
	color: var(--white);
}

.yellow {
	background-color: var(--yellow);
}

.burgundy {
	background-color: var(--burgundy);
	color: var(--white);
}

.pink {
	background-color: var(--pink);
}
