@import "constants.css";

.game {
	display: flex;
	flex-direction: row;
}

.spacer {
	width: var(--spacer-size);
	height: var(--spacer-size);
}

.board {
	display: flex;
	flex-direction: row;
}

.spacer-rows-constraints {
	display: flex;
	flex-direction: column;
}
